:root {
  --max-width: 600px;
}

.navbar > .container,
.content.container {
  max-width: var(--max-width);
}

.content {
  margin: 2rem 0;
}
.content .header {
  margin: 2rem 0;
}

.code {
  background-color: rgba(0,0,0,.03);
  font-style: italic;
  font-size: small;
  margin: 1rem 0;
  padding: .5rem;
}

.spinner-border-md {
  width: 1.5rem !important;
  height: 1.5rem !important;
  border-width: .2em !important;
}
